
<%- include('../partials/head')%>

<%- include('../partials/navbar')%>


<div class="container">

    <div class="my-5">
        <h1>Formula 1 Teams Home</h1>
        <!-- <img src="../../public/images/formula1.png" alt=""> -->
        <img class="my-3" style="height: 600px;" src="https://www.formula1.com/content/dam/fom-website/manual/Misc/2020CalendarAnnouncement/GettyImages-1180733959.jpg" alt="">
    </div>

</div>


<%- include('../partials/footer')%>

